* {
    margin: 0px;
/*  box-sizing: border-box;  */
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(135, 95, 95, 0);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #5f5757;
}

body {
    background-image: url("pics/pewdsDesign.png");
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}
/*
https://www.w3schools.com/cssref/css3_pr_font-face_rule.asp
 */
@font-face {
    font-family: pewdiepie;
    src: url("FEASFBRG.TTF");
}

header {
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 1;
    clear: both;
    top: 15px;
    text-align: center;
    font-family: "pewdiepie";
    font-size: 50px;
    letter-spacing: 7px;
    color: #21a8e8;
    background-color: black;
    text-transform: uppercase;
    text-shadow: white;
    box-shadow: 0px 5px 5px rgba(33, 21, 21, 0.68);
}

.clappinghands {
    align-content: center;
    max-height: 50px;
}

nav {
    position: fixed;
    width: 200px;
    top: 150px;
    height: 70%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 5px;
    color: white;
    overflow: auto;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(43, 33, 33, 0.62), 0 6px 20px 0 rgba(36, 26, 26, 0.4);
}

nav h2 {
    padding-left: 10px;
    position: fixed;
    top: 100px;
    left: 20px;
    z-index: 2;
    font-family: "pewdiepie";
}

nav ul {
    list-style: none;
    top: 115px;
    position: fixed;
}
li button {
    box-shadow: 3px 4px 0px 0px #57100b;
    background:linear-gradient(to bottom, #000000 100%, #ff1a05 5%);
    background-color:#ff1a05;
    border-radius:12px;
    border:1px solid #fc2419;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:5px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3b100c;
}

li button:hover {
    background: linear-gradient(to bottom, #000000 5%, #ff1a05 100%);
    background-color: #000000;
}

nav li:nth-child(1) {
    visibility: hidden;
}
nav li {
    background: url("pics/pewdiepie-brofist-transparent-pewdiepie-logo-hd-png-download.png") no-repeat left center;
    background-size: 20px;
    height: 15px;
    padding: 10px 20px;
}

main {
    position: fixed;
    overflow: auto;
    text-align: center;
    top: 135px;
    left: 150px;
    bottom: 25px;
    right: 10px;
    padding-bottom: 20px;
}

section {
    padding-top: 20px;
}

article {
    box-sizing: border-box;
    border-radius: 15px;
    width: 50%;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #282828;
    margin-bottom: 20px;
    margin-left: 25%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #888888;
}

article p {
    padding-left: 10px;
}

.Button {
    z-index: 5;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #888888;
    font-weight: bold;
    border: transparent;
    cursor:pointer;
}

#inspiration > h1 {
    font-family: "pewdiepie";
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
}

section img {
    max-width: 50%;
    alignment: center;
    text-align: center;
}

.memeWindow {
    background-color: white;
    width: 70%;
    margin: 0 12%;

}
.memePicture {
    width: initial;
    height: initial;
    display: block;
    margin-left: 18%;
}

aside {
    position: fixed;
    font-family: "Comic Sans MS";
    float: right;
    right: 25px;
    top: 150px;
    width: 200px;
    height: 100%;
    padding: 10px;
    margin: 0;
}

aside img {
    width: 150px;
}

aside.h2 {
    position: center;
}

footer {
    background-color: black;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 20px;
    line-height: 10px;
    position: fixed;
    clear: both;
    bottom: 0;
    padding-top: 5px;
    color: white;
}

#log_in {
    position: relative;
    text-align: center;
    z-index: 1;
}

.loginfist {
    position: fixed;
    top: 1.5%;
    right: 3%;
    transform: rotate(-20deg);
}

aside a { text-decoration: none; color: white}

#signup {
    color: white;
    position: fixed;
    font-family: "pewdiepie";
    padding-top: 10px;
}

#upload_meme {
    font-family: "pewdiepie";
    position: fixed;
    padding-top: 10px;
}

/* CSS 4 MEME GENERATOR START */

#main{
    width: 35vw;
    margin: 10px auto;
    text-align: center;
}
#memes{
    width: 35vw;
    height: 60vh;
    position: relative;
    background: black;
}

#memes img {
    position: relative;
    width: 100%;
    height:100%;
}

textarea{
    width: 35vw;
    resize: vertical;
    height: 30px;
    font-size: 40px;
    overflow: hidden;
    min-height: 60px;
    text-align: center;
    outline: none;
    margin-bottom: -10px;
    font-weight: 600;
    font-family: Impact;
    color: white;
    -webkit-text-stroke: 2px black;
    text-transform: uppercase;
    border: none;
    padding: 5px 0;
}
#upper{
    background: #ac0f0f;

}
#lower{
    background: black;
    color: white;
}
#input{
    display: none;
    margin-top: 50px;
}
.btn{
    background: #21a8e8;
    padding: 5px 10px;
    font-family: sans-serif;
    border: none;
    outline: none;
    font-size: 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}
#downloads{
    display: none;
}
i{
    padding: 0 5px;
}
.access{
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .clappinghands {
        max-width: 30px;
        max-height: 30px;
    }
    header {
        height: 80px;
        z-index: 1;
    }
    header h1 {
        position: center;
        padding-top: 20px;
        padding-bottom: 0;
        font-size: 45px;
    }
    nav {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        position: fixed;
        top: 102px;
        left: 0;
        white-space: nowrap;
        text-align: right;
    }

    nav > h2 {
        visibility: hidden;
    }

    nav li {
        background-image: unset;
    }
    ul {
        width: 100%;
        overflow: scroll;
        overflow-y: hidden;
        float: left;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        margin-top: -18px;
    }
    li {
        float: left;
        display: inline-block;
    }

    main {
        top: 200px;
        left: 0;
    }

    .loginfist {
        position: fixed;
        margin-right: 0;
        transform: rotate(-20deg);
        height: 10px;
    }
    #fist {
        height: 50px;
        width: 50px;
    }

    textarea {

    }
    #main,img,#memes{
        width: 50vw;
        height: 50vh;
    }

    #memes,img{
        height: 20vh;
    }
    .access a{
        display: block;
        width: 170px;
        margin: 5px auto;
    }
}