* {
    margin: 0px;

}

body {
    background-image: url("pewdsDesign.png");
    background-size: cover;
}
header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    clear: both;
    top: 15px;
    bottom: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Impact;
    font-size: 50px;
    color: #21a8e8;
    background-color: black;
    text-transform: uppercase;
}

.clappinghands {
    align-content: center;
    max-height: 50px;
}


nav {
    position: fixed;
    width: 200px;
    top: 150px;
    height: fit-content;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 5px;
    color: white;
}

main {
    position: absolute;
    text-align: center;
    overflow: auto;
    top: 130px;
    left: 150px;
    bottom: 30px;
    padding: 10px;
}
/*display: flex;*/
/*img:nth-child(1)*/

section img {
    max-width: 50%;
    alignment: center;
}

.memePicture {
    max-width: 300px;
}

aside {
    position: fixed;
    font-family: "Comic Sans MS";
    float: right;
    right: 15px;
    top: 150px;
    width: 200px;
    height: 100%;
    padding: 10px;
    margin: 0;
}

aside img {
    width: 150px;
}

footer {
    background-color: black;
    text-align: center;
    width: 100%;
    height: 20px;
    line-height: 10px;
    position: absolute;
    clear: both;
    bottom: 0;
    line-height: 10px;

    padding-top: 5px;
    color: white;
}
