* {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(135, 95, 95, 0);
}

::-webkit-scrollbar {
    width: 12px;
    height: 11px;
    background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(130, 57, 57, 0.73);
}
/* make white corner box disappear (where scrollbars meet)*/
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

body {
    background-image: url("../pics/pewdsDesign.png");
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: pewdiepie;
    src: url("../FEASFBRG.TTF");
}

h1 {
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 1;
    clear: both;
    top: 15px;
    bottom: 15px;
    text-align: center;
    font-family: "pewdiepie";
    font-size: 70px;
    letter-spacing: 7px;
    color: #21a8e8;
    background-color: black;
    text-transform: uppercase;
    padding-top: 20px;
}

.upload {
    max-height: 200px;
    z-index: 5;
}

.surprised {
    max-height: 200px;
    float: right;
    z-index: 5;
}

.Meme_Category {
    position: fixed;
    overflow: auto;
    top: 135px;
    left: 30px;
    bottom: 0;
    right: 10px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.memeTags {
    left: 20px;
}

p {
    padding: 10px;
}

.btn {
    cursor: pointer;
    background-color: black;
    padding:10px;
}

#sendButton {
    left: 20px;
    cursor: pointer;
}